
<% content_for :title do %>About<% end %>
<br>
<div class="well">
<!-- Image tampilan Web Profile -->
<center><%= image_tag '41.png' , width:'170', alt: 'Store 41' %>
<!-- Page Website -->
<h3>About the Website</h3>
<p>
This web application was created with in rails 
</p>
<p class="text-justify">
Application Store 41

41studio is the best ruby on rails development company in Indonesia which providing custom software solutions to perfectly suit your business needs. Our full-stack ruby on rails developers are experts to the latest open source technologies such as HaProxy, Nginx, PostgreSQL, MongoDB, ElasticSearch, Redis, Vue, React/Redux, Angular, Bootstrap, Twilio, API.ai and many more.
</p>
</div>