<li class="dropdown">
  <a class="dropdown-toggle cart-text" data-toggle="dropdown" aria-expanded="false"> <span ></span> <%= current_order.order_items.size %> - Items<span class="caret"></span></a>
  <ul class="dropdown-menu dropdown-cart" role="menu">
      <li><a class="text-center" href="/cart">View Cart</a></li>
  </ul>
</li>